@charset "UTF-8";

html {
    font-size: 63%;
}

body {
    background-color: #f5f5f5;
    font-family:'Open Sans', sans-serif;
}

.main-container {
    display: block;
    width: 100vw;
    margin: 0 auto;
}

.container {
    display: block;
    padding: 20px;
    float: left;
    width: 100%;
    margin: 0 auto;
}

header {
    background: #fff;
    display: block;
    float: left;
    padding: 20px;
    width: 100%;
    border-bottom: 1px solid #254159;
}

h1 {
    font-size: 2.5em;
    color: #254159;
    margin-bottom: 10px;
}

h2 {
    font-size: 2.3em;
    color: #254159;
    margin-bottom: 10px;
}
 h3 {
    font-size: 2.1em;
    color: #254159;
    margin-bottom: 10px;
 }

 h4 {
    font-size: 2em;
    color: #254159;
    margin-bottom: 10px;
 }

 p {
    margin-bottom: 10px;
    line-height: 1.3rem;
 }

 ol {
    margin-left: 30px;
 }

 ol li {
    font-size: 1.4em;
    color: #454545;
 }

 section {
    background-color: #fff;
    display: block;
    float: left;
    font-size: 1.5rem;
    padding: 20px;
    width: 100%;
}

section nav {
    display: block;
    float: left;
    width: 30%;
}

nav li {
    background-color: #efefef;
    margin: 1px 20px 1px 0;
    padding: 10px;
}

nav li::hover {
    background-color: #dfdfdf;
}

nav a {
    text-decoration: none;
    color: #254159;
}

nav a::hover {
    color: #385874;
}

section article {
    display: block;
    float: left;
    width: 71%;
}

footer {
    background-color: #254159;
    display: block;
    float: left;
    width: 100%;
}

footer p {
    color: #ffffff;
    font-size: 1.4rem;
}

footer small {
    font-size: 80%;
    display: block;
}